/* Reset básico */
* {
margin: 0;
padding: 0;
box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, Sans-Serif;
    background-color: #f9f9f9;
    color: #333;
    line-height: 1.6;
    padding: 20px;
}

/* Cabeçalho */
.cabecalho {
    text-align: center;
    background-color: #ffffff;

}